// main layout
doctype 5
html
	head
		title #{title}
		meta(name='Content-Type', content='text/html', charset='utf-8')
		script(src='http://code.jquery.com/jquery.min.js')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel="shortcut icon", type="image/png", href="/images/logo.png")

		block head
	body
			block title
		div.wrapper
			block content
				div.notfound
					img(src='/images/404.jpeg', alt='Sorry, page not found !')

					p Sorry, it seems zombies cats have taken control of the server. Run for your lives fools !
					br 
					p Try to get back on 
						a(href='http://zombie.cdnl.me/', title="Index") index page
			footer


	script(src='/js/ga.js')		
